@using WebTruyenTranh.Models
@model AuthorModel

@{
    ViewData["Title"] = "Chỉnh sửa tác giả";
}

<div class="w-100 d-flex justify-content-center align-items-center">
    <h2 class="text-primary">Chỉnh sửa Tác Giả</h2>
</div>

<form asp-action="Edit">
    <input type="hidden" asp-for="AuthorId" />
    <div class="form-group">
        <label for="Name">Tên tác giả</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
