<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/user/css/nav.css">
    <link rel="stylesheet" href="~/user/css/slider.css"> 
    <link rel="stylesheet" href="~/user/css/carousel.css"> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="myapp-wrapper container-fluid p-0 m-0">
        <!-- Nav -->
        <nav class="myapp-nav container-fluid border-bottom">
            <div class="container h-100">
                <div class="row h-100">
                    <!-- Logo -->
                    <div class="myapp-logo p-0 m-0 col-2 d-flex align-items-center justify-content-center">
                        <a asp-controller="Home" asp-action="Index"><img src="~/user/asset/img/myapp-logo.png" alt=""></a>
                    </div>
                    <!-- Filter -->
                    <div class="myapp-filter col-lg-5 d-lg-flex align-items-center justify-content-center d-none">
                        <ul class="d-flex align-items-center justify-content-between gap-3 list-unstyled m-0 w-100 h-100">
                            <li class="h-100 d-flex align-items-center justify-content-center">
                                <div class="dropdown position-relative h-100 d-flex align-items-center justify-content-center">
                                    <span class="fs-5 dropdown-toggle list-unstyled cursor-pointer fw-bold h-100 d-flex align-items-center justify-content-center">
                                        Danh sách
                                    </span>
                                    <ul class="dropdown-menu position-absolute top-100 start-50 translate-middle-x">
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Truyện mới</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Tryện cho nam</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Truyện cho nữ</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="h-100 d-flex align-items-center justify-content-center">
                                <div class="dropdown position-relative h-100 d-flex align-items-center justify-content-center">
                                    <span class="fs-5 dropdown-toggle list-unstyled cursor-pointer fw-bold h-100 d-flex align-items-center justify-content-center">
                                        Thể loại
                                    </span>
                                    <div class="dropdown-menu position-absolute top-100 start-50 translate-middle-x" style="min-width: 700px;">
                                        <div class="container-fluid d-flex align-items-center justify-content-center">
                                            <ul class="row list-unstyled w-100 h-100">
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Tất cả
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Action
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Adventure
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Chuyển Sinh
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Comedy
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Cooking
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Doujinshi
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Drama
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Đam Mỹ
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Fantasy
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Gender Bender
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Historical
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Horror
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Isekai
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Live action
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Manga
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Manhua
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Manhwa
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Martial Arts
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Mecha
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Mystery
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Romance
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        School Life
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Sports
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Tragedy
                                                    </a>
                                                </li>
                                                <li class="col-3">
                                                    <a href="#" class="text-decoration-none d-flex align-items-center justify-content-center text-dark">
                                                        Truyện Màu
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="fs-5 text-decoration-none fw-bold d-flex align-items-center justify-content-center text-dark">
                                    Tìm nâng cao
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Search -->
                    <div class="myapp-search col-lg-3 col-8 d-flex align-items-center justify-content-center my-3">
                        <form class="myapp-search" action="#">
                            <div class="input-group">
                                <input type="text" class="form-control border-0 shadow-none rounded-start-5 rounded-end-0" placeholder="Tìm kiếm truyện...">
                                <button class="btn border-0 rounded-start-0 rounded-end-5"><img class="myapp-nav-icon" src="~/user/asset/img/icon-search.png" alt=""></button>
                            </div>
                        </form>
                    </div>
                    <!-- User -->
                    <div class="myapp-user col-2 d-flex align-items-center justify-content-center">
                        <div class="dropdown position-relative d-flex align-items-center justify-content-center gap-2">
                            <img class="myapp-nav-icon" src="~/user/asset/img/icon-user.png" alt="user-icon">
                            <span class="dropdown-toggle list-unstyled cursor-pointer">
                                Tài khoản
                            </span>
                            <ul class="dropdown-menu position-absolute top-100 start-50 translate-middle-x">
                                <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Hồ sơ</a></li>
                                <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Cập nhập</a></li>
                                <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Yêu thích</a></li>
                                <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Upload</a></li>
                                <li><a class="dropdown-item d-flex align-items-center justify-content-center" href="#">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Nav -->
        <!-- Content -->
        <div class="myapp-content container-fluid m-0">
            <div class="row">
                <div class="myapp-addvertise col-xxl-2">
                    <!-- Quảng cáo -->
                </div>
                <div class="myapp-content-body col-12 col-xxl-8">
                    @RenderBody()
                </div>
                <div class="myapp-addvertise col-xxl-2">
                    <!-- Quảng cáo -->
                </div>
            </div>

        </div>
        @* <footer class="container-fluid" style="border: 1px solid red;"> *@
        </footer>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>