@using WebTruyenTranh.Models
@model GenreModel

<div class="w-100 d-flex justify-content-center align-items-center">
    <h2 class="text-primary fw-bold display-6 border-bottom pb-2 mb-4" style="text-shadow: 1px 1px 2px rgba(0,0,0,0.1);">Sửa thể loại</h2>
</div>
<form asp-action="Edit">
    <input type="hidden" asp-for="GenreId" />
    <div class="mb-3">
        <label class="form-label">Tên thể loại</label>
        <input type="text" class="form-control" asp-for="Name" required />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a class="btn btn-secondary" href="/Admin/Genre/Index">Hủy</a>
</form>
